:root {
  --white: #fff;
  --primary-color: #817ac0;
  --responsive-color: #424781;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  font-family: "Source Sans Pro", sans-serif;
}

aside {
  font-size: 40px;
  text-align: right;
  width: 15%;
  border-right: 5px solid;
  padding: 10px;
}

/* Header Styling Begins */

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  width: 100%;
  background-image: url(../images/hero-img.jpg);
  background-size: cover;
  background-position: 80%;
  background-attachment: fixed;
  z-index: 9999;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav a {
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  padding: 0px 15px;
  color: var(--primary-color);
  font-size: 28px;
  font-weight: bold;
  transition: color 1s ease-out;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2px;
}

header nav a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100%));
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: transform 0.15s ease-out;
}

header nav a:hover {
  color: var(--white);
}

header nav a:hover::before {
  transform: translateY(0);
  transition: transform 0.15s ease-out;
}

header h1 a {
  text-decoration: none;
  color: var(--white);
  padding: 0px 30px 0px 100px;
  font-size: 50px;
}

/* Header Styling Ends */

/* Hero Styling Begins */

.hero-section {
  position: relative;
  margin: 0px 0px 30px 0;
  overflow: hidden;
  background-image: url(../images/hero-img.jpg);
  width: 100%;
  height: 90vh;
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  background-attachment: fixed;
}

.hero-container {
  position: absolute;
  display: inline-block;
  bottom: 25px;
  right: 100px;
  z-index: 10;
  width: auto;
  padding: 10px;
}

.typewriter h2 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid var(--primary-color); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  color: var(--primary-color);
  font-size: 36px;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--primary-color);
  }
}

/* Hero Styling Ends */

/* About Me Section Styling Begins */

.about-me {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 30px 0;
  width: 100%;
  padding: 10px 50px;
  color: var(--primary-color);
}

.about-me article {
  margin: 10px;
  width: 75%;
  font-size: 18px;
}

.about-me p {
  margin: 10px 30px 10px 30px;
  line-height: 1.5;
}

/* About Me Section Styling Ends */

/* Work Section Styling Begins */

.work-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px 50px;
}

.work-section aside {
  color: var(--primary-color);
}

/* Work Section Styling Ends */

/* Work Section Project Cards Styling Begins */

.projects-container {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  justify-content: space-between;
}

.run-buddy {
  width: 100%;
  position: relative;
  margin: 10px;
  border: 4px solid var(--primary-color);
}

.run-buddy img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

.card-2 {
  width: 48%;
  position: relative;
  margin: 10px;
  border: 4px solid var(--primary-color);
}

.card-2 img {
  height: 150px;
  width: 100%;
  display: block;
}

.frame {
  position: absolute;
  z-index: 40;
  bottom: 20px;
  padding: 5px;
  background-color: var(--primary-color);
  color: var(--white);
}

.frame h3 {
  font-size: 20px;
}

.frame a {
  font-size: 20px;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

.overlay {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  z-index: 20;
}

.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

/* Work Section Project Cards Styling Ends */

/* Footer Styling Begins */

footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  padding: 10px 50px;
  font-size: 24px;
  color: var(--primary-color);
}

.footer-links {
  display: flex;
  align-items: center;
  width: 75%;
}

.footer-links ul {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.footer-links ul li a {
  padding: 10px 15px;
}

.footer-links a {
  color: var(--primary-color);
  font-weight: bold;
  position: relative;
  z-index: 0;
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  padding: 0px 15px;
  font-weight: bold;
  transition: color 1s ease-out;
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 2px;
}

.footer-links a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100%));
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition: transform 0.15s ease-out;
}

.footer-links a:hover {
  color: var(--white);
}

.footer-links a:hover::before {
  transform: translateY(0);
  transition: transform 0.15s ease-out;
}

/* Footer Styling Ends */

/* Media Queries */

/* Large devices (desktops, less than 1280px) */
@media (max-width: 1281.98px) {
  /* Hero Section Styling Begins */
  .hero-section {
    height: 85vh;
  }

  /* Hero Section Styling Ends */

  /* About Me Section Styling Begins */

  .about-me aside {
    font-size: 22px;
  }

  /* About Me Section Styling Ends */

  /* Work Section Styling Begins */

  .work-section aside {
    font-size: 22px;
  }

  /* Work Section Styling Ends */

  /* Work Section Card Styling Begins */

  .card-2 {
    width: 47%;
  }

  /* Work Section Card Styling Ends */

  /* Contact Me and Footer Styling Begins */

  footer aside {
    font-size: 22px;
  }

  .footer-links a {
    font-size: 18px;
  }

  /* Contact Me and Footer Styling Ends */
}

/* Medium devices (tablets, less than 992px) */

@media screen and (max-width: 991.98px) {
  /* Header Styling Begins */

  header {
    padding-bottom: 0;
    justify-content: space-around;
    position: relative;
    flex-wrap: wrap;
  }

  header h1 a {
    padding: 0 0;
    width: 100%;
  }

  header nav {
    padding: 0 0 9px 0;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
  }

  header nav ul li a {
    font-size: 20px;
  }

  /* Header Styling Ends */

  /* Hero Styling Begins */

  .hero-section {
    height: 85vh;
  }

  .hero-container {
    right: 0;
    bottom: 0;
  }

  /* Hero Styling Ends */

  /* About Me Section Styling Begins */

  .about-me {
    flex-direction: column;
    align-items: center;
  }

  .about-me aside {
    border-right: none;
    border-bottom: 3px solid;
    width: auto;
    padding: 0;
    font-size: 34px;
  }

  .about-me br {
    display: none;
  }

  /* About Me Section Styling Ends */

  /* Work Section Styling Begins */

  .work-section {
    flex-direction: column;
    align-items: center;
  }

  .work-section aside {
    border-right: none;
    border-bottom: 3px solid;
    width: auto;
    padding: 0;
    font-size: 34px;
  }

  /* Work Section Styling Ends */

  /* Work Section Card Styling Begins */

  .projects-container {
    justify-content: space-evenly;
  }

  .run-buddy img {
    height: 300px;
  }

  .card-2 {
    width: 45%;
  }

  /* Work Section Card Styling Ends */

  /* Footer and Contact Section Styling Begins */

  footer {
    flex-direction: column;
    align-items: center;
  }

  footer aside {
    border-right: none;
    border-bottom: 3px solid;
    width: auto;
    padding: 0;
    font-size: 34px;
    margin-bottom: 10px;
  }

  footer aside br {
    display: none;
  }

  .footer-links {
    font-size: 20px;
  }

  /* Footer Styling Ends */
}

/* Small devices (landscape phones, less than 768px) */

@media screen and (max-width: 767.98px) {
}

/* <575px */

@media screen and (max-width: 575.98px) {
  /* Header Styling Begins */
  header {
    background-position: 50%;
  }

  header h1 a {
    font-size: 38px;
  }

  header nav ul li a {
    font-size: 18px;
  }

  header nav a {
    color: var(--responsive-color);
    text-decoration-color: var(--responsive-color);
    padding: 0 5px 0 5px;
  }

  header nav a::before {
    background-color: var(--responsive-color);
  }

  /* Header Styling Ends */

  /* Hero Styling Begins */

  .hero-section {
    height: 82vh;
    background-position: 50%;
  }

  .typewriter h2 {
    border-right: var(--responsive-color);
    color: var(--responsive-color);
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: var(--responsive-color);
    }
  }

  /* Hero Styling Ends */

  /* About Me Section Styling Begins */

  .about-me {
    color: var(--responsive-color);
    padding: 0 0 0 0;
  }

  .about-me h2 {
    font-size: 32px;
  }

  .about-me p {
    text-align: center;
    line-height: 1.2;
    margin: 0 0 0 0;
  }

  article > p:nth-of-type(2) {
    display: none;
  }

  /* About Me Section Styling Ends */

  /* Work Section Stying Begins */

  .work-section {
    padding: 0 0 0 0;
  }

  .work-section h2 {
    font-size: 32px;
  }

  .work-section aside {
    color: var(--responsive-color);
  }

  /* Work Section Styling Ends */

  /* Work Section Cards Styling Begins */

  .run-buddy,
  .card-2 {
    border: 4px solid var(--responsive-color);
  }

  .card-2 {
    width: 42%;
  }

  .frame {
    background-color: var(--responsive-color);
  }

  /* Work Section Cards Styling Ends */

  /* Contact and Footer Section Styling Begins */

  footer {
    color: var(--responsive-color);
  }

  footer h2 {
    font-size: 32px;
  }

  .footer-links ul li a {
    font-size: 16px;
    padding: 0 5px 0 5px;
  }

  .footer-links a {
    color: var(--responsive-color);
    text-decoration-color: var(--responsive-color);
  }

  .footer-links a::before {
    background-color: var(--responsive-color);
  }

  /* Contact and Footer Section Styling Ends */
}
